.aider*
*.db
#*.md
.env
venv/
__pycache__/
*.pdf
*db-journal
*.bak
*.svg
*.png
!Frontend/public/patagual-logo-white.png
!Backend/app/static/app/patagual-logo-white.png
*.jpg
Frontend/node_modules/
*.txt
