.aider*
*.db
#*.md
.env
.env.*
venv/
.venv/
__pycache__/
*.py[cod]
*.pdf
*db-journal
*.bak
*.deb
*:Zone.Identifier
*.svg
*.png
!Frontend/public/patagual-logo-white.png
!Backend/app/static/app/patagual-logo-white.png
!Backend/app/static/app/logo_green.png
*.jpg
Frontend/node_modules/
dist/
build/
output/
*.txt
